body {
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    background-color: rgb(255,128,0);
    display: flex;
    align-items: center;
}

header img {
    width: 200px;
}

.main-content {
    display: flex;  
    width: 100%;
}

.left-content {
    width: 80%;  
}

.pizza-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.cart-position {
    width: 20%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-content {
    padding: 10px;
    border: 1px solid #ccc;
    height: 100%;
}

.round-image-container {
    position: absolute; 
    bottom: -50px; 
    left: 50%; 
    transform: translateX(-50%);
}

.round-img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 

}

.img-position {
    position: relative; 
}

.orange-txt{
    color: rgb(255,128,0);
}

h1{
    font-size: 35px;
}

h2{
    font-size:25px;
}

.arrow-img{
    height:40px;
    width: 40px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(247,246,241);
}

.button-product{
    border: none;
    background-color: white;
    color: rgb(255, 128, 0);
    font-weight: bold;
    font-size: 30px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

button{
    cursor: pointer;
}

.product-row {
    display: flex; 
    justify-content: space-between; 
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 10px;
}

.product-details {
    flex: 1; 
}

