/* General reset for margins and padding */
body {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    height: 120px;
    background-color: rgb(255,128,0);
    display: flex;
    align-items: center;
}

header img {
    width: 200px;
}

/* Main content container */
.main-content {
    display: flex;  /* This will align .left-content and .cart-position horizontally */
    width: 100%;
}

/* Left content styles */
.left-content {
    width: 80%;  /* Takes 70% of the available width */
}

.img-position img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}



/* Cart content styles */
.cart-position {
    width: 20%;  /* Takes 30% of the available width */
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-content {
    padding: 10px;
    border: 1px solid #ccc;
    height: 100%;
}
