body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    height: 120px;
    background-color: rgb(255,128,0);
    display: flex;
    align-items: center;
}

header img {
    width: 200px;
    margin-left: 20px;
}

.main-content {
    display: flex;  
    width: 100%;
}

.left-content {
    width: 80%;  
}

.pizza-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.cart-position {
    width: 20%; 
    display: flex;
    flex-direction: column;
    position: sticky;  
    top: 0;  
    height: 100vh; 
    overflow-y: auto; 
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

.cart-content {
    padding: 10px;
    border: 1px solid #ccc;
    height: 100%;
}

.round-image-container {
    position: absolute; 
    bottom: -50px; 
    left: 50%; 
    transform: translateX(-50%);
}

.round-img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%;

}

.img-position {
    position: relative; 
}

.orange-txt{
    color: rgb(255,128,0);
}

h1{
    font-size: 35px;
}

h2{
    font-size:25px;
}

.arrow-img{
    height:40px;
    width: 40px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(247,246,241);
    margin-top: 10px;
}

.button-product{
    border: none;
    background-color: white;
    color: rgb(255, 128, 0);
    font-weight: bold;
    font-size: 30px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

button{
    cursor: pointer;
}

.product-row {
    display: flex; 
    justify-content: space-between; 
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-top: 10px;
}

.product-row:hover{
    background-color: rgb(255, 216, 176);
}
.product-details {
    flex: 1; 
}

.border-none-btn{
    border: none;
    background-color: white;
    
}

.img-size{
    width:20px;
    height:20px;
}

.btn-span-position{
    display: flex;
    justify-content: space-between;
}

hr{
   width:20px;
   height:20px;
    background-color: white;
}

.button-show-cart {
    width: 100%;
    background-color: green; 
    color: white;     
    font-weight: bold; 
    padding: 10px;    
    text-align: center;
    border: none;     
    position: sticky;
    bottom: 0;
    height: 50px;
}


@media (min-width: 580px) {
    .button-show-cart {
        display: none;
    }
}

@media (max-width: 1050px) {
    .cart-position {
        width:30%;
    }

    .left-content {
        width: 70%;
    }
}

@media (max-width: 870px) {
    .cart-position {
        width: 40%;
    }

    .left-content {
        width: 60%;
    }
}

@media (max-width: 580px) {
    .cart-position {
        display:none;
    }

    .left-content {
        width: 100%;
    }

    .order-btn{
        width:50% !important;
    }

    .order-complete{
        height:250px !important;
    }

    .msg h2{
        font-size:20px;
        padding-left: 20px;
    }
}


.msg{
    display:none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.order-complete{
    height: 500px;

}

a{
    color:rgb(255, 128, 0);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.order-btn{
    width: 100%;
    background-color: green; 
    color: white;      
    font-weight: bold; 
    padding: 10px;     
    text-align: center; 
    border: none;      
    height: 50px;
}

footer{
    height: 120px;
    background-color: rgb(255,128,0);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 200px;
    margin-left: 20px;
}

.js-center{
    margin-top:40px;
    display: flex;
    justify-content: center;
}

.padding-left-20{
    padding-left:20px;
}